html {
  box-sizing: border-box;
  font: normal 100%/1.3 sans-serif;
  background-color: #ccc;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}
